:root[mode="ios"] .luxie,
:root[mode="md"] .luxie {
  --ion-font-family: "luxie" !important;
  font-family: "luxie" !important;
}

* {
  font-family: "luxie" !important;
}

ion-title {
  --ion-font-size: 36px;
  font-size: 36px;
}

.subtitle {
  --ion-font-size: 24px;
  font-size: 24px;
}

.selected {
  --color: #000000;
  color: #000000;
}

.selected:after {
  --content: "";
  --display: block;
  --margin: 0 auto;
  --background: rgb(0, 0, 0);
  --width: 60%;
  --height: 8px;
  --border-radius: 4px;
  content: "";
  display: block;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  width: 60%;
  height: 8px;
  border-radius: 4px;
  animation: bounceIn 1s normal forwards ease-in-out;
}

ion-button {
  --background: #000000;
  background: #000000;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}

ion-icon {
  --font-size: 48px;
  font-size: 48px;
  --cursor: pointer;
  cursor: pointer;

  &:hover {
    --cursor: pointer;
    cursor: pointer;
  }
}

.ion-padding-vertical {
  --padding: 20px 0;
  padding: 20px 0;
}

.ion-padding-horizontal {
  --padding: 0 20px;
  padding: 0 20px;
}

ion-row .ion-padding-top {
  --padding-top: 40px;
  padding-top: 40px;
}

.ion-margin {
  --margin: 20px 20px 0 20px;
  margin: 20px 20px 0 20px;
}

// label inside ion-item
::ng-deep ion-input .label-text,
ion-select::part(label),
ion-item ion-label,
ion-checkbox {
  --color: rgb(128, 128, 128) !important;
  color: rgb(116, 116, 116) !important;
}

ion-item {
  ion-input {
    --transform: translateY(7px);
    transform: translateY(7px);
    --margin-bottom: 7px;
    margin-bottom: 7px;
  }
}

.btn_forgotPass ion-label:hover,
.subtitle:hover {
  --color: #000000 !important;
  color: #000000 !important;
  --cursor: pointer !important;
  cursor: pointer !important;
}

.subtitle,
.btn_forgotPass {
  --cursor: pointer !important;
  cursor: pointer !important;
}

// placerholder of item-select
::ng-deep {
  ion-select,
  a {
    --color: #74a5ba;
    color: #74a5ba;
    --font-weight: bolder;
    font-weight: bolder;
  }
}

ion-row ion-label {
  --color: rgb(97, 97, 97);
  color: rgb(79, 79, 79);
}

ion-checkbox::part(container) {
  --border-radius: 0;
  border-radius: 0;
  --border: 2px solid #4f4f4f;
  border: 2px solid #4f4f4f;
}

// animation area
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
